body {
    color: #FFFFFF;
    background-color: #00355B;
    padding-right: 10%;
    padding-left: 10%;
    font-family: Courier;
}

.prompt {
    font-size: 16px;
    font-weight: bold;
    color: #4DFF00;
}

.line {
    font-size: 14px;
    color: #3EABFF;
    padding-left: 30px;
}

.command {
    font-size: 14px;
    color: #3EABFF;
}

pre {
    font-size: 14px;
    color: #3EABFF;
    padding-left: 30px;
}

#prompt_input {
    position: relative;
    left: -3px;
    background-color: #00355B;
    border: none;
    width: 80%;
    outline: none;
    font-family: Courier;
    padding: 0px;
}

button::-moz-focus-inner {
    border: 0;
}

#github {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

a {
    cursor: pointer;
    color: #3EABFF;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}

.before_prompt {
    font-size: 16px;
    font-weight: bold;
    color: #4DFF00;
}

.html_block {
    margin-bottom: 1em;
    margin-top: 1em;
}

#shell {
    margin-bottom: 1em;
}

ul {
    font-size: 14px;
    color: #3EABFF;
    padding-left: 30px;
    margin-bottom: 1em;
    margin-top: 1em;
}

li {
    float: left;
}

li:before {
    content: " [ ";
}

li:after {
    content: " ] ";
}

#active_prompt {
    clear: both;
}